body {
    background: linear-gradient(rgba(188, 224, 245, 0.555) 0%, rgba(245, 191, 147, 0.466) 40%,rgba(179, 219, 235, 0.432) 100%);
}

.Profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.ProfileImage {
    width: 300px;
}

.Profile h2 {
    text-align: center;
    color: rgb(10, 31, 2);
}

.Profile h5 {
    color: rgb(12, 22, 15);
    margin-left: -10px; /* Menggunakan margin untuk menggeser teks */
}

.judul {
    text-align: center;
    background: linear-gradient(rgba(188, 224, 245, 0.555) 0%, rgba(245, 191, 147, 0.466) 40%,rgba(33, 124, 160, 0.432) 100%);
}
    padding: 20px; /* Sesuaikan dengan kebutuhan Anda */
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}

td {
    background-color: bisque;
    border: 1px solid black; /* Tambahkan garis pada sel */
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ac538bef;
    color: #fff;
    border: 1px solid black; 
}
.Jadwal{
    margin-top: 20px;
}
footer{
    margin-top: 50px;
}
